/*产品详情界面*/
a{
  text-decoration: none;
}
ul{
  margin: 0px;
}
/*第一部分  头部标题*/
.l-bread {
  font: 14px/100% 'Hiragino Sans GB','Microsoft YaHei',sans-serif;
  margin-bottom: 10px;
}
.l-content.typepage{
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.l-bread .l-that{
  color: #64a131;
}
.l-bread a{
  color: #64a131;
  text-decoration: none;
}
.l-this{
  color: #999999;
}
 /* 第二部分 */
.l-goods{
  margin: 0px;
  padding: 0px;
}
/*焦点图*/
#l-gd-imgs{
  float: left;
  width: 430px;
  height: 500px;
}
/* 大图 */
.l-box {
  width: 430px;
  height: 370px;
  border: 0px solid #DFDFDF;
  position:relative;
}
.l-small {
  position:relative;
  float: left;
  border: none;
  padding: 0px;
  cursor: pointer;
  margin: 0px;
  display: block;
}
.l-box img {
  vertical-align:top;
}
.l-mask {
  width:200px;
  height:220px;
  background:#fff;
  opacity: 0.7;
  position:absolute;
  top:0;
  left:0;
  cursor: pointer; /* 手形 */
  display:none;
  border: 1px solid #CCC;
  z-index: 100;
}
.l-big {
  width:400px;
  height:480px;
  position:absolute;
  top:0;
  left:430px;
  z-index: 100;
  border:1px solid #DFDFDF;
  overflow:hidden;
  display:none;
}
#l-bigBox img {
  position:absolute;
}
/* 切换图 */
#ifocus_btn{
  margin:0px;
  overflow:hidden;
}
#ifocus_btn li {
  cursor: pointer;
  float: left;
  text-align: center;
  margin: 4px;
  border: 1px solid #999;
}
#ifocus_btn .current {
  opacity: 1;
}
/* 商品信息 */
#l-gd-des{
  float: left;
  width: 750px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  color: #999;
}
#l-gd-des>ul{
  padding-left: 10px;
 }
#l-gd-des-name{
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 100;
  color: #555555;
}
#l-gd-des-pri{
  background: #f2f2f2;
  padding-left: 12px;
  position: relative;
  margin-top: 20px;
}
#l-gd-des-pri li{
  line-height: 60px;
}
#l-gdp{
  color: #64a131;
  font-size: 20px;
  padding-left: 13px;
}
li{
  list-style: none;
}
#l-gd-des-spe>li{
  margin-top: 20px;
}
#l-gd-des-spe>li>span{
  margin-left: 20px;
}
/*数量*/
#l-gd-des-num {
  margin-top: 23px;
}
.l-clear{
  zoom: 1;
}
#l-gd-des-num>li{
  float: left;
  margin-right: 20px;
}
#l-gd-des-aia{
  background: #f0f0f0;
  padding: 1px 0;
  border: solid 1px #e8e8ea;
}
.l-gda-a{
  padding: 2px 4px;
  width: 18px;
  border: none;
  cursor: pointer;
}
#l-gda-inp{
  border: 1px solid #bebebf;
  padding: 2px 0;
  text-align: center;
  width: 38px;
}
#l-gd-des-aia input{
  float: left;
  color: #555;
  text-align: center;
}
/*购物车块*/
#l-gd-des-opt{
  margin-top: 140px;
  padding-bottom: 60px;
}
#l-gd-des-opt>li{
  float: left;
}
#l-gd-des-opt>li>a,div{
  display: block;
  border-radius: 2px;
  cursor: pointer;
}
#l-gdo-buy{
  width: 134px;
  height: 34px;
  background: #f5ffed;
  border: solid 1px #64a131;
  line-height: 34px;
  text-align: center;
  color: #64a131;
  margin-right: 10px;
}
/*购物车*/
#l-gdo-car{
  width: 136px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #64a131;
  margin-right: 10px;
  border: none;
}
#l-gdo-car-img{
  width: 22px;
  height: 20px;
  background: url(http://www.guocool.com/images/inner.png) no-repeat 0px -60px;
  display: inline-block;
  margin: 8px 6px 0px 12px;
  float: left;
}
#l-gdo-car>span{
  float: left;
}
/*收藏*/
#l-gdo-fol{
  width: 120px;
  height: 36px;
  background: #64a131;
  line-height: 36px;
  color: #fff;
  border: none;

}
#l-gdo-fol-img{
  width: 19px;
  height: 16px;
  background: url(http://www.guocool.com/images/inner.png) no-repeat -19px 1px;
  display: inline-block;
  margin: 10px 0px 0px 10px;
  float: left;
}
.l-gh{
  height: 68px;
}
/*.第三部分*/
#comment-text>div{
  float: left;
}
.l-left-part{
  width: 990px;
  border: 1px solid #ccc;
  margin-bottom: 43px;
}
.l-left-part>div{
  width:100%;
}
.l-good-details{
  top:0px;
  height: 40px;
  background-color: #f1f1f1;
  border-left: none;
  border-right: none;
}
.l-good-details>span{
  float: left;
  font: 16px/200% 'Hiragino Sans GB','Microsoft YaHei',sans-serif;
  color: #555555;
  height: 40px;
  padding: 0 38px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-right: 1px solid #ccc;
}
#l-comment-count{
  color: #64a131;
}
.l-good-details>a{
  width: 138px;
  height: 40px;
  margin-right: 0px;
  padding-left: 15px;
  float: right;
  display: block;
  position: relative;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  border-radius: 0px;
  background: #64a131;
  text-decoration: none;
  border-color: #64a131;
  color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
[role="button"] {
  cursor: pointer;
}
.l-car-btn>i{
  float: left;
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
}
.l-car-btn>span{
  float: left;
}
.l-car-img{
  width: 22px;
  height: 20px;
  background: url(http://www.guocool.com/images/inner.png) no-repeat 0px -60px;
  display: inline-block;
}
/* 购物车弹出框 */
.l-thefruit{
  border: 1px solid #ccc;
  width: 330px;
  height: 160px;
  float: right;
  background-color: #fff;
}
.l-thefruit>div{
  float: left;
  text-align: left;
}
.l-fruitleft>img{
  width: 135px;
  height: 130px;
  margin: 15px;
}

.l-fruitright{
  width: 150px;
  height: 130px;
  margin: 15px 0px;
  line-height: 25px;
}
.l-fruitright>span{
   margin: 0px;
   width: 100%;
  color: #333;
 }
.l-fruitright>p{
  margin: 0px;
  width: 100%;
  color: #999999;
}
.l-fruitright>div{
  color: #fff;
  background-color: #64a131;
  width: 60%;
  text-align: center;
  border-radius: 2px;
  padding: 4px;
  margin-top: 20px;
}
/*商品简介*/
.l-table>tbody{
  text-align: left;
}
.l-table>tbody>tr{
  border-top: 1px solid #d1d1d1;
  height: 40px;
  border-bottom: 1px solid #d1d1d1;
}
.l-table>tbody>tr>th,td{
  padding: 0px 12px;
  border: 1px solid #d1d1d1;
}
/* 顾客评论 */
.l-com-title{
  padding-top: 46px;
  padding-bottom: 90px;
  margin-bottom: 50px;
}
.l-com-title>div{
  float: left;
}
.l-com-title1{
  width: 178px;
  height: 100px;
  padding: 6px 20px;
  text-align: center;
  border-right: 1px solid #ccc;
}
.l-com-title1>p:first-child{
  font: 40px/100% 'Hiragino Sans GB W6','Microsoft YaHei';
  color: #f6ab00;
  margin-top: 0px;
}
.l-com-title1>p:last-child{
  font: 14px/100% 'Hiragino Sans GB W6','Microsoft YaHei';
  margin-top: -30px;
}
.l-com-title2{
  width: 300px;
  padding: 11px 38px;
  border-right: 1px solid #ccc;
}
.l-pl-user{
  font: 14px/100% 'Hiragino Sans GB','Microsoft YaHei',sans-serif;
  width: 300px;
  padding-bottom: 30px;
}
.l-pl-user>div{
  float: left;
}
.l-dj-good{
  width: 196px;
  height: 14px;
  border-radius: 10px;
  background-color: #dddddd;
  margin-left: 10px;
  margin-right: 10px;
}
#l-dj-goodImg{
  height: 14px;
  border-radius: 10px;
  background-color: #f6ab00;
}
#l-dj-normalImg{
  width: 10px;
  height: 14px;
  border-radius: 10px;
  background-color: #f6ab00;
}
#l-dj-badImg{
  width: 10px;
  height: 14px;
  border-radius: 10px;
  background-color: #f6ab00;
}
.l-com-title3{
  width: 394px;
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;
}
.l-com-title3>p{
  font: 14px/200% 'Hiragino Sans GB W6','Microsoft YaHei',sans-serif;
}
.l-com-title3>p:last-child{
  width: 375px;
}
.l-com-detailTitle{
  height: 38px;
  font: 14px/100% 'Hiragino Sans GB W6','Microsoft YaHei',sans-serif;
  color: #555555;
  line-height: 38px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background-color: #eeeeee;
}
.l-com-detailTitle>ul>li{
  float: left;
  padding-right: 30px;
  cursor: pointer;
  font-size: 14px;
}
.l-com-detailTitle>ul>li>s{
  display: inline-block;
  width: 14px;
  height: 16px;
  padding-right: 25px;
  margin-top: 10px;
  background: url(http://www.fruitday.com/images/common/icons.png) no-repeat -532px -170px;
}
.l-user-says{
  height: auto;
  float: left;
  padding-top: 15px;
  border-bottom: 1px solid #ccc;
}
.l-user-says>div{
  float: left;
}
.l-user-says-left{
  width: 120px;
  padding-left: 30px;
  padding-top: 10px;
}
.l-user-says-left>img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.l-user-says-left>p{
  padding-top: 12px;
  text-align: center;
  padding-bottom: 14px;
}
.l-user-says-right{
  padding-top: 10px;
  width: 840px;
}
.l-user-says-right>ul>li{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.l-user-says-right>ul>li>p{
  float: left;
  font-size: 14px;
  width: 750px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.l-user-says-right>ul>li>p:first-child{
  width:50px;
}
.l-play-start{
  width: 150px;
  float: left;
}
.l-user-says-right ul li span{
  font-size: 12px;
}
.l-play-start .star{
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url(http://www.fruitday.com/images/common/icons.png) no-repeat -7px -167px;
}
.l-user-says-right>ul>li>img{
  width: 100px;
  height: 75px;
  margin-right: 3px;
  overflow: hidden;
}
.gray{
  padding-left: 50px;
  margin-right: 10px;
}
/*商品推荐*/
.l-right-part {
  width: 180px;
  padding: 8px;
}
.l-right-part>div{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.l-run-title{
  color: #64a131;
  font-size: 16px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
}
.l-rum-fruit1 {
  border-bottom: 1px solid #d1d1d1;
  height: 80px;
  padding-bottom: 10px;
}
.l-rum-fruit1>a{
  float: left;
  margin: 10px 6px;
}

.l-rum-img{
  width:50px;
  height:50px;
}
.l-rum-img>img{
  width: 100%;
}
.l-rum-price>p{
  color: #999;
}
