.f-dialog-mask {
/*  opacity: 0.7;*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.36);
  z-index: 999;
}
.f-dialog{
  pointer-events: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -358px;
  margin-top: -248px;
  width: 716px;
  padding: 8px;
  background: rgba(0,0,0,0.16);
  z-index: 1000;
}
.f-dialog>.f-dialog-til {
  position: relative;
  height: 40px;
  padding: 0 15px;
  background: #eaeaea;
  margin: 0;
  font-size: 16px;
  line-height: 40px;
  color: #555;
}
.f-dialog>.f-dialog-til>.iconfont {
  font-size: 22px;
  cursor: pointer;
}
.f-dialog>.f-dialog-til>span {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  opacity: 1;
}
.pull-right{
  float: right;
}
.f-dialog-con{
  background: #fff;
  padding: 20px;
  min-height: 300px;
}
.f-dialog-con .f-form-formitem{
  width: 100%;
  line-height: 30px;
  margin: 0 0 15px;
}
.f-dialog-con .f-form-formitem>label{
  float: left;
  width: 90px;
  margin-right: 10px;
  margin-bottom: 0;
  font-weight: normal;
  color: #999;
  white-space: nowrap;
}
.f-dialog-con .f-form-formitem>.inpSel.act{
  border-color: #64a131;
  border-width: 1px;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.025),0 0 8px rgba(100,161,49,0.6);
}
.f-dialog-con .f-form-formitem>.inpSel>span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-dialog-con .f-form-formitem>.inpSel {
  position: relative;
  float: left;
  width: 160px;
  height: 30px;
  padding: 0 10px;
  margin: 0 15px 0 0;
  background: url(../../../assets/balance-scontent/selbg.png) no-repeat right 0;
  border: 1px solid #ddd;
  color: #555;
  border-radius: 5px;
}
.f-dialog-con .f-form-formitem>.inpSel>ul {
  display: none;
  position: absolute;
  top: 29px;
  left: -1px;
  width: 160px;
  max-height: 150px;
  overflow: auto;
  background: #eee;
  border: 1px solid #ddd;
  box-shadow: 0 5px 5px rgba(175, 175, 175, 0.75);
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
ul{
  margin-top: 0;
  margin-bottom: 10px;
}
.inpSel>ul>li {
  padding: 0 10px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.VI-color1 {
  color: #f6ab00;
}
.f-dialog-con .f-form-formitem>input.inpText {
  float: left;
  width: 160px;
  height: 30px;
  padding: 0 10px;
  margin: 0 15px 0 0;
  border: 1px solid #ddd;
  color: #555;
  border-radius: 5px;
}
.f-dialog-con .f-form-formitem>input.inpCheck{
  float: left;
  margin: 8px 5px 0 80px;
}
.f-dialog-con .f-form-formitem>label {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  font-weight: normal;
  color: #999;
  white-space: nowrap
}
.f-dialog-con .f-form-formitem>button{
  margin-left: 100px;
  min-width: 90px;
  margin-right: 15px;
  border-radius: 4px;
}
.btn-success {
  background: #64a131;
  color: #fff;
  border-color: #4cae4c;
}
