.l-per-usercenter{
  width: 100%;
  max-width: 1920px;
  margin: 30px auto;
  padding: 0;
  color: #555;
}
.l-per-usercenter ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.l-per-usercenter a{
  text-decoration: none;
}
.l-per-layout{
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
/* 左边部分 */
.l-per-left{
  float: left;
  width: 210px;
  min-height: 560px;
  transition: -webkit-transform .75s cubic-bezier(.175, .885, .62, 1.06);
  -webkit-transition: -webkit-transform .75s cubic-bezier(.175, .885, .62, 1.06);
}
.l-per-left>ul{
  border: 1px solid #ddd;
  padding-left: 0;
}
.l-per-left>ul>li{
  padding-left: 0;
  cursor: pointer;
  color: #555;
}
.l-per-left li.tab_focus{
  color: #fff !important;
  background-color: #64a131 !important;
}
.l-per-left>ul>li:hover{
  background: #ddd;
}
.l-per-left>ul>li>span{
  display: block;
  height: 36px;
  padding: 0 10px;
  margin: 0 0;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  transition: background .6s,color .3s;
}
/* 右边部分 */
.l-per-right{
  width: 860px;
  min-height: 560px;
  float: right;
  margin-bottom: 30px;
}
/* 个人信息 */
.l-per-tabmenu{
  border: 1px solid #ddd;
  overflow: hidden;
  width: 860px;
}
.l-per-tabmenu>ul>li{
  float: left;
}
.l-tabmenu-info{
  padding: 26px 20px;
}
.l-tabmenu-info>div{
  float: left;
}
.l-tabmenu-head{
  width: 104px;
  position: relative;
  margin-right: 26px;
}
.l-tabmenu-head>img{
  width: 104px;
  border-radius: 50%;
  margin-bottom: 10px;
  height: 104px;
}
.l-tabmenu-name{
  padding-top: 6px;
  width: 132px;
  overflow: hidden;
}
.l-tabmenu-name>p:first-child{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 18px;
  width: 132px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.l-tabmenu-content{
  border-left: 1px solid #ddd;
  padding: 0 88px;
  margin-top: 16px;
}
.l-tabmenu-content>p{
  font-size: 18px;
  color: #64a131;
  padding-bottom: 8px;
}
.l-tabmenu-content>p:nth-child(2){
  color: #555;
}

.l-tabmenu-content>p:last-child{
  font-size: 16px;
  color: #64a131;
  cursor: pointer;
}
/* 最近订单 */
.l-per-right h6{
  font-size: 16px;
  color: #555;
  text-align: left;
  padding-top: 17px;
  width: 100%;
}
.l-recent-order>table{
  width: 100%;
  font-size: 14px;
  margin-bottom: 8px;
}
.l-recent-order>table>thead>tr{
  border: 1px solid #ddd;
  width: 100%;
  height: 38px;
  background: #f1f1f1;
  margin-bottom: 8px;
}
.l-recent-order>table>thead>tr>th{
  color: #999;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  text-align: center;
}
.l-recent-order>table>tbody>tr:first-child{
  height: 8px;
}
.l-recent-order>table>tbody>tr>td{
  vertical-align: top;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.l-recent-order>table>tbody>tr:nth-child(2)>td{
  padding: 8px 0;
  border: 1px solid #ddd;
  background: #f1f1f1;
  text-align: left;
}
.l-order-time{
  padding-right: 34px;
  padding-left: 8px;
  color: #555;
  font-size: 14px;
}
.l-recent-order>table>tbody>tr:last-child{
  border: 1px solid #ddd;
}
.l-recent-order>table>tbody>tr>td>ul>li{
  float: left;
  padding-top: 0;
  margin: 5px 5px;
}
.l-recent-order>table>tbody>tr>td>ul>li.l-order-img{
  width: 80px;
}
.l-recent-order>table>tbody>tr>td>ul>li.l-order-img img{
  width: 100%;
}
.l-recent-order>table>tbody>tr>td>ul>li.l-order-name{
  margin-left: 60px;
  margin-top: 30px;
}
.l-recent-order>table>tbody>tr>td>ul>li.l-order-name>a{
  color: #555;
  font-size: 14px;
}
.l-recent-order>table>tbody>tr>td>p{
  margin-top: 30px;
}
.l-recent-order>table>tbody>tr>td:last-child>p{
  cursor: pointer;
  margin: 30px 14px;
}
.l-per-right>.l-right-nav{
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}
.l-per-right>.l-right-nav>ul{
  height: 30px;
  margin: 0;
  border-bottom: 2px solid #ddd;
}
.l-per-right>.l-right-nav>ul>li{
  float: left;
  width: 90px;
  height: 100%;
  text-align: center;
}
.l-per-right>.l-right-nav>ul>li:hover{
  border-bottom: 2px solid #64A131;
  margin-top: 1px;
}
.l-per-right>.l-right-nav>ul>li>a{
  display: block;
  position: relative;
  height: 18px;
  line-height: 18px;
  margin-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  color: #555;
}
.l-per-right>.l-right-nav>ul>li>a>i{
  background-color: #e7e7e7;
  margin-top: 2px;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 0;
  color: #ddd;
}
.l-per-right>.l-integral-title>div{
  float: left;
  padding: 10px 0;
}
.l-per-right>.l-integral-title>div:first-child>span{
  color: #64a131;
}
.l-per-right>.l-integral-title>div:last-child{
  float: right;
  font-size: 12px;
}
.l-integral-content>table{
  width: 100%;
  color: #555;
  font-size: 14px;
}
.l-integral-content>table>thead>tr{
  border: 1px solid #ddd;
  width: 100%;
  height: 38px;
  background: #f1f1f1;
  margin-bottom: 8px;
}
.l-integral-content>table>thead>tr>th{
  color: #999;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  text-align: center;
  padding: 15px 10px;
}
.l-integral-content>table>tbody>tr:first-child{
  height: 8px;
}
.l-integral-content>table>tbody>tr.l-integral-detail{
  border: 1px solid #ddd;
  text-align: center;
}
.l-integral-content>table>tbody>tr>td{
  padding-top: 10px;
}
.l-integral-content>table>tbody>tr>td>ul>li{
  float: left;
  padding-top: 0;
  margin: 5px 5px;
}
.l-integral-content>table>tbody>tr>td>ul>li.l-integral-img{
  width: 70px;
}
.l-integral-content>table>tbody>tr>td>ul>li.l-integral-img img{
  width: 100%;
}
.l-integral-content>table>tbody>tr>td>ul>li.l-integral-name>a{
  color: #555;
  font-size: 14px;
  float: left;
}
.l-integral-name>p{
  margin-top: 40px;
}
.l-address-title>div{
  float: left;
  padding: 10px 0;
}
.l-address-title>div:last-child{
  float: right;
  color: #64A131;
  cursor: pointer;
}
.l-integral-content>table>tbody>tr>td>p>span{
  color: #64A131;
  margin-right: 5px;
  cursor: pointer;
}
.Remarks>p{
  cursor: pointer;
  display: none;
  border: 1px solid #64A131;
  color: #fff;
  background-color: #64A131;
  border-radius: 4px;
}
/* 基本资料 */
.l-basic-information{
  /*background: #f1f1f1;*/
  border: 1px solid #ddd;
  min-height: 350px;
  padding: 20px 0 50px 12px;
}
.l-basic-information ul li{
  height:30px;
}
.l-basic-information ul li>span{
  float: left;
  margin-right: 40px;
}
.l-basic-information ul li>div{
  float: left;
}
.l-basic-information ul li>select{
  float: left;
}
.l-basic-information ul li>input{
  float: left;
}
.l-basic-information ul li.l-basicinfo-pic{
  margin-bottom: 14px;
  height: 76px;
}
.l-basic-information ul li.l-basicinfo-pic>span{
  margin-right: 10px;
}
.l-basic-information ul li.l-basicinfo-pic>div{
  width: 76px;
  margin-right: 13px;
}
.l-basic-information ul li.l-basicinfo-pic>div>img{
  width: 76px;
  height: 76px;
}
.l-basic-information ul li a{
  float: left;
  color: #64a131;
  position: relative;
  outline: none;
  cursor: pointer;
}
/*昵称*/
.l-basicinfo-nickname{
  margin-bottom: 13px;
}
.l-basicinfo-nickname>span{
  line-height: 30px;
}
.l-basicinfo-nickname input{
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
/*性别*/
.l-basicinfo-sex{
  margin-bottom: 5px;
}
.l-basicinfo-sex .l-csex{
  width: 190px;
}
.l-basicinfo-sex .l-csex input{
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 5px;
}
.l-basicinfo-sex .l-csex label{
  font-weight: normal;
  margin: 0 5px 0 0;
  position: relative;
  top: -4px;
}
/*生日*/
.l-basicinfo-birth{
  margin-bottom: 13px;
}
.l-basicinfo-birth>span{
  margin-right: 23px;
  line-height: 30px;
}
.l-basicinfo-birth .l-birth-inpSel{
  position: relative;
  width: 84px;
  height: 30px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ddd;
  color: #555;
  border-radius: 4px;
}
.l-basicinfo-birth div{
  margin: 0 5px;
  line-height: 30px;
}
/*手机号*/
.l-basicinfo-telphone{
  margin-bottom: 13px;
}
.l-basicinfo-telphone>span{
  line-height: 30px;
}
.l-basicinfo-telphone input{
  border: 1px solid #ddd;
  height: 30px;
  margin-right: 5px;
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
/* 邮箱 */
.l-basicinfo-mail{
  margin-bottom: 18px;
}
.l-basicinfo-mail span{
  line-height: 30px;
}
.l-basicinfo-mail input{
  border: 1px solid #ddd;
  height: 30px;
  margin-right: 5px;
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
.l-per-right .l-basic-submit{
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  margin-left: 70px;
  float: left;
}
.l-per-right .l-basic-submit:hover{
  background: #5e972e;
  outline: 0;
}
/* 密码修改 */
.l-password-box{
  border: 1px solid #ddd;
  padding: 20px 0 70px 25px;
}
.l-password-box>div{
  margin-left: 0;
  margin-bottom: 10px;
  height: 35px;
}
.l-password-box>div>label{
  float: left;
  font-weight: normal;
  font-size: 14px;
  color: #999;
  margin-right: 25px;
  line-height: 30px;
}
.l-password-box>div>label.sure-password{
  margin-right: 12px;
}
.l-password-box>div>input{
  float: left;
  height: 30px;
  width: 155px;
  padding-left: 10px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
/* 我的收藏 */
.l-collection-content>table{
  width: 100%;
  color: #555;
  font-size: 14px;
  text-align: center;
}
.l-collection-content>table>thead>tr{
  border: 1px solid #ddd;
  width: 100%;
  height: 38px;
  background: #f1f1f1;
  margin-bottom: 8px;
}
.l-collection-content>table>thead>tr>th{
  color: #999;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  text-align: center;
  padding: 15px 10px;
}
.l-collection-content>table>tbody>tr:first-child{
  height: 8px;
}
.l-collection-content>table>tbody>tr.l-integral-detail{
  border: 1px solid #ddd;
}
.l-collection-content>table>tbody>tr>td{
  padding-top: 10px;
}
.l-collection-content>table>tbody>tr>td>ul>li{
  float: left;
  padding-top: 0;
  margin: 5px 5px;
}
.l-collection-content>table>tbody>tr>td:first-child a img{
  width: 180px;
  height: 100px;
  margin-left: 30px;
}
.l-collection-content>table>tbody>tr>td>p>span{
  color: #64A131;
  margin-right: 5px;
  cursor: pointer;
}
/*订单详情*/
.orderDetil>p{
  cursor: pointer;
  color: #64A131;
}
.l-receiveInfo{
  width: 100%;
  margin-bottom: 12px;
}
.l-receiveInfo>dl{
  border: 1px solid #ddd;
}
.l-receiveInfo>dl>dt{
  color: #555;
  font-size: 14px;
  background: #f1f1f1;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}
.l-receiveInfo>dl>dd{
  padding-left: 10px;
  line-height: 30px;
  color: #555;
}
.l-receiveInfo>dl dd.l-receiveCommon{
  padding-top: 10px;
}
.l-total>ul{
  padding-right: 14px;
  padding-top: 16px;
  border-bottom: 1px solid #ddd;
}
.l-total>ul>li{
  text-align: right;
  color: #555;
  line-height: 30px;
}
.l-total>.l-extra{
  padding-right: 14px;
  text-align: right;
  line-height: 30px;
  color: #555;
}
/*更换手机号*/
.l-changeTel-box{
  border: 1px solid #ddd;
  padding: 20px 0 70px 25px;
}
.l-changeTel-box>div{
  margin-left: 0;
  margin-bottom: 10px;
  height: 35px;
}
.l-changeTel-box>div>label{
  float: left;
  font-weight: normal;
  font-size: 14px;
  color: #999;
  margin-right: 25px;
  line-height: 30px;
}
.l-changeTel-box>div>label.sure-password{
  margin-right: 12px;
}
.l-changeTel-box>div>input{
  float: left;
  height: 30px;
  width: 155px;
  padding-left: 10px;
  line-height: 30px;
  border: 1px solid #ddd;
}
.l-changeTel-box>div>a{
  /*display: inline-block;*/
  float: left;
  border: 1px solid #64a131;
  background: #f5ffed;
  padding: 2px 16px;
  color: #64a131;
  text-decoration: none;
  width: 114px;
  text-align: center;
}
.l-changeTel-box>div>span{
  /*display: inline-block;*/
  float: left;
  border: 1px solid #64a131;
  background: #f5ffed;
  padding: 2px 16px;
  color: #64a131;
  text-decoration: none;
  width: 112px;
  text-align: center;
}
.l-hide{
  display: none;
}
.l-changeTel-box>div>img.l-verificationImg{
  width: 112px;
  height: 30px;
  position: static;
  cursor: pointer;
}
.l-changeTel-box .l-nextStep-submit{
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  margin-left: 70px;
  float: left;
}
.l-changeTel-box .l-nextStep-submit:hover{
  background: #5e972e;
  outline: 0;
}
