<div class="myslides" style="width: 100%">
  <ks-swiper-container [options]="swipeOptions">
    <ks-swiper-slide  style="width: 100%!important;" *ngFor="let item of data">
      <img src="../../../assets/fruit/banner0{{item}}.jpg" style="width: 100%; height: 500px">
    </ks-swiper-slide>
  </ks-swiper-container>
</div>

<div class="fruit-middle-three" style="width: 100%;height: 322px;margin-top: 50px;">
  <div class="fruit-middle-three-small" style="width: 88%;margin-left: 6%;height: 320px;">
    <div class="fruit-middle-three-small-top" style="width: 100%;height: 50px;text-align: center;">
      <div class="fruit-middle-three-small-top-div" style="color: white;background-color: #65A031;margin-left: 540px;width: 115px;height: 50px;padding-top: 7px;font-size: 22px;font-weight: bolder;">
        限时特价
      </div>
    </div>
    <div class="fruit-middle-three-small-bottom" style="width: 100%;height: 273px;border-left: 1px solid #ECECEC;border-right: 1px solid #ECECEC;border-bottom: 1px solid #ECECEC;border-top: 3px solid #65A031">
      <div class="fruit-middle-three-small-bottom-div-one" style="width: 24%;height: 270px;float: left;text-align: center;border-right: 1px solid #ECECEC;">
        <img class="fruit-middle-three-small-bottom-div-one-img" src="../../../../assets/fruit/tejia01.jpg" style="width: 94%;height: 210px;">
        <div class="fruit-middle-three-small-bottom-div-another" style="width: 100%;height: 55px;">
          <label class="fruit-middle-three-small-bottom-div-another-one" style="display: block;font-size: 15px;color: #999;">【闪购】能量果花</label>
          <label class="fruit-middle-three-small-bottom-div-another-two" style="display: block;font-size: 16px;font-weight: 500;color: #65A031">现：￥239.00 原：￥299.00</label>
        </div>
      </div>
      <div class="fruit-middle-three-small-bottom-div-one" style="width: 24%;height: 270px;border-right: 1px solid #ECECEC;float: left;text-align: center">
        <img class="fruit-middle-three-small-bottom-div-one-img" src="../../../../assets/fruit/tejia02.jpg" style="width: 94%;height: 210px;">
        <div class="fruit-middle-three-small-bottom-div-another" style="width: 100%;height: 55px;">
          <label class="fruit-middle-three-small-bottom-div-another-one" style="display: block;font-size: 15px;color: #999;">【闪购】能量果花</label>
          <label class="fruit-middle-three-small-bottom-div-another-two" style="display: block;font-size: 16px;font-weight: 500;color: #65A031">现：￥239.00 原：￥299.00</label>
        </div>
      </div>
      <div class="fruit-middle-three-small-bottom-div-one" style="width: 24%;height: 270px;border-right: 1px solid #ECECEC;float: left;text-align: center">
        <img class="fruit-middle-three-small-bottom-div-one-img" src="../../../../assets/fruit/tejia03.jpg" style="width: 94%;height: 210px;">
        <div class="fruit-middle-three-small-bottom-div-another" style="width: 100%;height: 55px;">
          <label class="fruit-middle-three-small-bottom-div-another-one" style="display: block;font-size: 15px;color: #999;">【闪购】能量果花</label>
          <label class="fruit-middle-three-small-bottom-div-another-two" style="display: block;font-size: 16px;font-weight: 500;color: #65A031">现：￥239.00 原：￥299.00</label>
        </div>
      </div>
      <div class="fruit-middle-three-small-bottom-div-one" style="width: 24%;height: 270px;border-right: 1px solid #ECECEC;float: left;text-align: center">
        <img class="fruit-middle-three-small-bottom-div-one-img" src="../../../../assets/fruit/tejia04.jpg" style="width: 94%;height: 210px;">
        <div class="fruit-middle-three-small-bottom-div-another" style="width: 100%;height: 55px;">
          <label class="fruit-middle-three-small-bottom-div-another-one" style="display: block;font-size: 15px;color: #999;">【闪购】能量果花</label>
          <label class="fruit-middle-three-small-bottom-div-another-two" style="display: block;font-size: 16px;font-weight: 500;color: #65A031">现：￥239.00 原：￥299.00</label>
        </div>
      </div>
      <div class="fruit-middle-three-small-bottom-div-two" style="width: 4%;height: 270px;border-right: 1px solid #ECECEC;float: left;text-align: center">
        <label class="fruit-middle-three-small-bottom-div-two-lab" style="display: block;height: 100%;width: 32px;font-size: 20px;margin-left: 7px;padding-top: 65px;">更多特惠∨</label>
      </div>
    </div>
  </div>
</div>

<div class="fruit-middle-one" style="width: 100%;height: 668px;margin-top: 20px;">
  <div class="fruit-middle-one-top" style="width: 94%;margin-left:3%;height: 68px;border-top: 1px solid #ECECEC">
    <label class="fruit-middle-one-top-first" style="font-weight: bold;font-size: 25px;margin-top: 16px;">鲜果</label>
    <label class="fruit-middle-one-top-second" style="float: right;margin-top: 30px;font-size: 14px;margin-right: 8px;">MORE+</label>
  </div>
  <div class="fruit-middle-one-bottom" style="width: 94%;margin-left:3%;height: 600px;">
    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%">
        <img class="fruit-middle-one-bottom-right-one-img" style="width:100%;height: 230px;" src="../../../../assets/fruit/fruit01.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px;">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px"  src="../../../../assets/fruit/fruit02.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit03.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit04.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit05.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit06.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit02.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit01.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width:100%;height: 230px" src="../../../../assets/fruit/fruit01.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

    <div class="fruit-middle-one-bottom-right-one" style="width: 20%;height: 50%;float:left;">
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 230px;margin-left: 2%;">
        <img class="fruit-middle-one-bottom-right-one-img" style="width:100%;height: 230px" src="../../../../assets/fruit/fruit01.jpg">
      </div>
      <div class="fruit-middle-one-bottom-right-one-div" style="width: 96%;height: 60px;margin-left: 2%;">
        <label class="fruit-middle-one-bottom-right-one-div-first" style="display: block;margin-top: 8px;font-size: 15px;">新疆硒砂瓜</label>
        <label class="fruit-middle-one-bottom-right-one-div-second" style="display: block;font-size: 14px">￥39.90/1个</label>
        <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
      </div>
    </div>

  </div>
</div>
<div class="fruit-middle-two" style="width: 100%;height:668px;margin-top: 60px">
  <div class="fruit-middle-two-top" style="width: 94%;margin-left:3%;height: 68px;border-top: 1px solid #ECECEC">
    <label class="fruit-middle-two-top-first" style="font-weight: bold;font-size: 25px;margin-top: 16px;">套餐</label>
    <label class="fruit-middle-two-top-second" style="float: right;margin-top: 30px;font-size: 14px;margin-right: 8px;">MORE+</label>
  </div>
  <div class="fruit-middle-two-bottom" style="width: 94%;margin-left:3%;height: 600px;">
    <a class="meal" style="display: block;width: 33%;height:600px;float: left;">
      <div class="fruit-middle-two-bottom-left" style="width: 100%;height: 100%;float: left;">
        <img class="fruit-middle-two-bottom-left-img" style="width: 100%;height: 100%" src="../../../../assets/fruit/fruit08.jpg">
      </div>
      <div class="info">
        <div class="info-look" style="border: 1px solid #65A031;width: 135px;height: 40px;padding-top: 3px;font-size: 20px;font-weight: bolder;margin-top: 250px;margin-left: 150px;">
          点击进入
        </div>
      </div>
    </a>
    <div class="fruit-middle-two-bottom-right" style="width: 67%;height: 100%;float:left;">
      <div class="fruit-middle-two-bottom-right-one" style="width: 1%;height: 100%;float: left;"></div>
      <div class="fruit-middle-two-bottom-right-two" style="width:33%;height: 50%;float:left;">
        <div class="fruit-middle-one-bottom-right-two-div" style="width: 96%;margin-left: 2%;">
          <img class="fruit-middle-two-bottom-right-two-img" style="width: 100%;height: 230px;" src="../../../../assets/fruit/fruit01.jpg">
        </div>
        <div class="fruit-middle-two-bottom-right-two-div" style="width: 96%;height: 60px;margin-left: 2%">
          <label class="fruit-middle-two-bottom-right-two-la" style="display: block;margin-top: 5px;font-size: 15px;">新疆硒砂瓜</label>
          <label class="fruit-middle-two-bottom-right-two-lab" style="display: block;font-size: 14px">￥39.90/1个</label>
          <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
        </div>
      </div>

      <div class="fruit-middle-two-bottom-right-two" style="width: 33%;height: 50%;float:left;">
        <div class="fruit-middle-one-bottom-right-two-div" style="width: 96%;margin-left: 2%;">
          <img class="fruit-middle-two-bottom-right-two-img" style="width: 100%;height: 230px"  src="../../../../assets/fruit/fruit02.jpg">
        </div>
        <div class="fruit-middle-two-bottom-right-two-div" style="width: 96%;margin-left:2%;height: 60px;">
          <label class="fruit-middle-two-bottom-right-two-la" style="display: block;margin-top: 5px;font-size: 15px;">新疆硒砂瓜</label>
          <label class="fruit-middle-two-bottom-right-two-lab" style="display: block;font-size: 14px">￥39.90/1个</label>
          <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
        </div>
      </div>
      <div class="fruit-middle-two-bottom-right-two" style="width: 33%;height: 50%;float:left;">
        <div class="fruit-middle-one-bottom-right-two-div" style="width: 96%;margin-left: 2%;">
          <img class="fruit-middle-two-bottom-right-two-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit03.jpg">
        </div>
        <div class="fruit-middle-two-bottom-right-two-div" style="width: 96%;height: 60px;margin-left: 2%;">
          <label class="fruit-middle-two-bottom-right-two-la" style="display: block;margin-top: 5px;font-size: 15px;">新疆硒砂瓜</label>
          <label class="fruit-middle-two-bottom-right-two-lab" style="display: block;font-size: 14px">￥39.90/1个</label>
          <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
        </div>
      </div>
      <div class="fruit-middle-two-bottom-right-two" style="width: 33%;height: 50%;float:left;">
        <div class="fruit-middle-one-bottom-right-two-div" style="width: 96%;margin-left: 2%;">
          <img class="fruit-middle-two-bottom-right-two-img" style="width: 100%;height: 230px" src="../../../assets/fruit/fruit04.jpg">
        </div>
        <div class="fruit-middle-two-bottom-right-two-div" style="width: 96%;height: 60px;margin-left: 2%;">
          <label class="fruit-middle-two-bottom-right-two-la" style="display: block;margin-top: 5px;font-size: 15px;">新疆硒砂瓜</label>
          <label class="fruit-middle-two-bottom-right-two-lab" style="display: block;font-size: 14px">￥39.90/1个</label>
          <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
        </div>
      </div>
      <div class="fruit-middle-two-bottom-right-two" style="width: 33%;height: 50%;float:left;">
        <div class="fruit-middle-one-bottom-right-two-div" style="width: 96%;margin-left: 2%;">
          <img class="fruit-middle-two-bottom-right-two-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit05.jpg">
        </div>
        <div class="fruit-middle-two-bottom-right-two-div" style="width: 96%;height: 60px;margin-left: 2%;">
          <label class="fruit-middle-two-bottom-right-two-la" style="display: block;margin-top: 5px;font-size: 15px;">新疆硒砂瓜</label>
          <label class="fruit-middle-two-bottom-right-two-lab" style="display: block;font-size: 14px">￥39.90/1个</label>
          <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
        </div>
      </div>
      <div class="fruit-middle-two-bottom-right-two" style="width: 33%;height: 50%;float:left;">
        <div class="fruit-middle-one-bottom-right-two-div" style="width: 96%;margin-left: 2%">
          <img class="fruit-middle-two-bottom-right-two-img" style="width: 100%;height: 230px" src="../../../../assets/fruit/fruit06.jpg">
        </div>
        <div class="fruit-middle-two-bottom-right-two-div" style="width:96%;height: 60px;margin-left: 2%;">
          <label class="fruit-middle-two-bottom-right-two-la" style="display: block;margin-top: 5px;font-size: 15px;">新疆硒砂瓜</label>
          <label class="fruit-middle-two-bottom-right-two-lab" style="display: block;font-size: 14px">￥39.90/1个</label>
          <img class="fruit-middle-one-bottom-right-one-div-icon" style="float: right;width: 38px;height: 36px;margin-top: -55px;margin-right: 12px;" src="../../../../assets/fruit/gouwuche.png">
        </div>
      </div>
    </div>
  </div>
</div>

