.lose-password-big{
  height: 265px;
}
.lose-password-small{
  width: 900px;
  height: 210px;
  margin: 55px auto;
  box-shadow: 0 4px 4px #cbc7c4;
  border: solid 1px #e4e0dc;
}
.lose-password-one{
  border-bottom: 1px solid #ECECEC;
  border-top:1px solid white;
  height: 50px;width: 900px;
}
.lose-password-one-lab{
  display: block;
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}
.lose-password-two{
  height: 50px;
  width: 900px;
  text-align: center;
}
.lose-password-two-lab{
  color: #666;
  font-size: 16px;
  margin-top: 13px;
  width: 150px;
  text-align: right;
}
.lose-password-two-inp{
  width: 270px;
  margin-left: 18px;
}
.lose-password-three{
  height: 50px;
  width: 900px;
}
.lose-password-three-lab{
  color: #666;
  font-size: 16px;
  margin-top: 13px;
  width: 150px;
  text-align: right;
  margin-left: 230px;
}
.lose-password-three-inp{
  width: 270px;
  margin-left: 18px;
}
.lose-password-three-btn{
  margin-left: 20px;
  color: #666;
  border: 1px solid #999;
}
.lose-password-four{
  height: 60px;
  width: 900px;
  text-align: center;
}
.lose-password-four-but{
  width: 80px;
  height: 36px;
  border: 0;
  font-size: 18px;
  margin-top: 5px;
  background-color: #64A131;
  border-radius: 4px;
  color: #ffffff;
}
