<!-- 注册页面 -->
<!-- 头部公用部分 -->
<login-head></login-head>
<!-- 注册部分 -->
<div class="fruit-login-middle">
  <div class="fruit-login-middle-small">
      <div class="fruit-login-middle-small-left">
            <div class="fruit-login-middle-small-left-one">
                 <label class="fruit-login-middle-small-left-one-prompt">手机号</label>
                 <input class="fruit-login-middle-small-left-one-input" type="text">
            </div>
            <div class="fruit-login-middle-small-left-one">
              <label class="fruit-login-middle-small-left-one-prompt">密码</label>
              <input class="fruit-login-middle-small-left-one-input" placeholder="请输入6-20位号码字符" type="password">
            </div>
            <div class="fruit-login-middle-small-left-one">
              <label class="fruit-login-middle-small-left-one-prompt">确认密码</label>
              <input class="fruit-login-middle-small-left-one-input" placeholder="请输入6-20位号码字符" type="password">
            </div>
            <div class="fruit-login-middle-small-left-one">
              <label class="fruit-login-middle-small-left-one-prompt">手机验证码</label>
              <input class="fruit-login-middle-small-left-input-left" type="text">
              <button class="fruit-login-middle-small-left-input-left-btn">获取验证码</button>
            </div>

           <button class="register-btn">注册</button>
           <a class="go-to-value-a" href="">会员登陆</a>

      </div>
      <div class="fruit-register-middle-small-right">
       <!-- <img class="member-logo" style="margin-left: 52px" src="../../../assets/img/huiyuan.jpg">-->
        <div class="myslides" style="margin-left: 52px;height: 400px;">
          <ks-swiper-container [options]="swipeOptions">
            <ks-swiper-slide *ngFor="let item of data">
              <img src="../../../assets/img/banner0{{item}}.jpg" style="width: 100%; height:400px">
            </ks-swiper-slide>
          </ks-swiper-container>
        </div>
      </div>
  </div>
</div>
<!-- 尾部公用部分 -->
<login-bottom></login-bottom>


