<div class="content special special-content">
  <!--筛选器-->
  <div class="select f-clearfix">
    <!--分类-->
    <div class="oc f-clearfix pull-left f-li">
      <h5 class="pull-left">品类</h5>
      <div class="f-select pull-left f-clearfix">
        <div class="pull-left left">
         <!-- <a (click)="$allFruits()" class="active">
            <span class="f-all line">全部</span>
          </a>-->
        </div>
        <div class="pull-left right">
          <a  *ngFor="let fruitClassify of fruitClassifys" (click)="$classifyFruit(fruitClassify.id)"><span class="line">{{fruitClassify.classifyName}}</span></a>
        </div>
      </div>
    </div>
  </div>
  <!--列表-->

  <div class="list f-clearfix">
    <div class="part pull-content">
      <ul>
        <li *ngFor="let fruitDetail of fruitDetails.goods">
          <div class="wrapper">
            <div class="img">
              <a [routerLink]="['/index/product-details',fruitDetail.id]">
                <img class="lazy" src="{{fruitDetail.goodsImage}}">
              </a>
            </div>
            <div class="f-info">
              <span class="f-name">{{fruitDetail.goodsName}}</span>
              <span class="f-unit">{{fruitDetail.goodsPrice}}</span>
              <img (click)="$custom_add_goods(fruitDetail.goodsName,fruitDetail.id)" style="width: 32px;margin-top: -35px;float: right;margin-right: 10px;" src="../../../../assets/fruit/jiahao.png">
            </div>

          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- 横条提示部分 -->
<div style="width: 100%;height: 100px;float: left;background-color: #8FA550;">
  <div style="width: 1280px;height: 100%;background-color: #8FA550;margin: 0 auto;text-align: center;padding-top: 26px;">
           <span style="display: block;font-size: 29px;font-weight: bolder;color: white;letter-spacing: 10px;">自定义套餐详情</span>
  </div>
</div>

<!-- 底部自定义详情部分 -->
<div class="z-custom-bottom" style="width: 100%;height: 339px;float: left;border-top: 1px solid #ECECEC;">
  <div class="z-custom-bottom" style="width: 1280px;height: 100%;margin: 0 auto;">
   <!-- 最左边-->
    <div class="z-custom-bottom-one-a" style="margin-left:25px;width: 30%;height: 100%;float: left;">
      <div class="z-custom-bottom-one-small"
           style="width: 100%;margin: 0 auto;height: 100%;border-left: 1px solid #ECECEC;box-shadow: 0 0 3px #A5A5A5;border-right:1px solid #ECECEC;text-align: center">
        <label class="z-custom-bottom-one-small-lab" style="font-size: 20px;">选中的商品 ：</label>
        <div id="z-side-aa" class="z-custom-bottom-one-small-div" style="width: 100%;height: 302px;overflow: auto;text-align: left;">
        </div>
      </div>
    </div>
    <!--中间-->
    <div class="z-custom-bottom-one-b" style="margin-left:40px;width: 30%;height: 100%;float: left;text-align: center;border: 1px solid #ECECEC;box-shadow: 0 0 3px #A5A5A5;">
      <!--<img style="width: 380px;margin-top: -20px;" src="../../../../assets/fruit/lanzi.gif">-->
      <div class="z-custom-bottom-one-b-message" style="text-align: center;">
        <label style="font-size: 20px;">爱心提示 ：</label>
      </div>
      <div class="z-custom-bottom-one-b-div" style="border: 1px solid white;width: 100%;height: 300px;text-align: left;">
        <!--  <span style="font-size: 18px;float: left;display: block;height: 26px;">更多推荐 :</span>-->
        <div style="width: 100%;height: 270px;margin-top: 27px;overflow: auto;text-align: center;">

        </div>
      </div>
    </div>

    <!--最右边-->
    <div class="z-custom-bottom-one-c" style="margin-left:40px;width: 30%;border: 1px solid #ECECEC;box-shadow: 0 0 3px #A5A5A5;height: 100%;float: left;">
      <div class="z-custom-bottom-one-c-message" style="text-align: center;">
        <label style="font-size: 20px;">更多推荐 ：</label>
      </div>
      <div class="z-custom-bottom-one-c-big-div" style="border: 1px solid white;width: 100%;height: 300px;text-align: left;">
      <!--  <span style="font-size: 18px;float: left;display: block;height: 26px;">更多推荐 :</span>-->
        <div class="z-custom-bottom-one-c-big-div-a" style="width: 100%;height: 270px;margin-top: 27px;overflow: auto;text-align: center;">
          <div class="z-custom-bottom-one-c-small-div" style="width: 100%;height: 90px;border-bottom: 1px solid #ECECEC;">
            <img class="z-custom-bottom-one-c-small-div-img" src="../../../../assets/fruit/fruit03.jpg" style="width: 88px;float: left">
            <div class="z-custom-bottom-one-c-small-div-tuijian" style="width: 200px;height: 80px;float: left;text-align: left;margin-left: 10px;">
                <span class="z-custom-bottom-one-c-small-div-span-a" style="display: block;margin-top: 15px;">荷兰青啤梨</span>
                <span class="z-custom-bottom-one-c-small-div-span-b" style="display: block;">￥39.90/斤</span>
            </div>
            <img class="z-custom-bottom-one-c-small-div-add" style="width: 32px;margin-top: 26px;float: right;margin-right: 10px;" src="../../../../assets/fruit/jiahao.png">

          </div>
          <div style="width: 100%;height: 90px;border-bottom: 1px solid #ECECEC;">
            <img src="../../../../assets/fruit/fruit03.jpg" style="width: 88px;float: left">
            <div style="width: 200px;height: 80px;float: left;text-align: left;margin-left: 10px;">
              <span style="display: block;margin-top: 15px;">荷兰青啤梨</span>
              <span style="display: block;">￥39.90/斤</span>
            </div>
            <img style="width: 32px;margin-top: 26px;float: right;margin-right: 10px;" src="../../../../assets/fruit/jiahao.png">
          </div>
          <div style="width: 100%;height: 90px;border-bottom: 1px solid #ECECEC;">
            <img src="../../../../assets/fruit/fruit03.jpg" style="width: 88px;float: left">
            <div style="width: 200px;height: 80px;float: left;text-align: left;margin-left: 10px;">
              <span style="display: block;margin-top: 15px;">荷兰青啤梨</span>
              <span style="display: block;">￥39.90/斤</span>
            </div>
            <img style="width: 32px;margin-top: 26px;float: right;margin-right: 10px;" src="../../../../assets/fruit/jiahao.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <ele-confirm [subTitle]="s_confirm_subTitle" cancelText="取消" sureText="确定"  [(show)] = "s_confirm_addflag" [content]="s_confirm_content" ></ele-confirm>

</div>
