<div class="content special special-content">
  <!--筛选器-->
  <div class="select f-clearfix">
    <!--分类-->
    <div class="oc f-clearfix pull-left f-li">
      <h5 class="pull-left">品类</h5>
      <div class="f-select pull-left f-clearfix">
        <div class="pull-left left">
            <span class="f-all line active">全部</span>
        </div>
        <div class="pull-left right">
          <a href="#"><span class="line" *ngFor="let classifys of data">{{classifys.classifyName}}</span></a>
        </div>
      </div>
    </div>
    <!--产地-->
    <div class="oc f-clearfix pull-left f-li">
      <h5 class="pull-left">产地</h5>
      <div class="f-select pull-left f-clearfix">
        <div class="pull-left left">
            <span class="f-all line active">全部</span>
        </div>
        <div class="pull-left right">
          <a href="#"><span class="line" *ngFor="let places of place" >{{places.classifyName}}</span></a>
        </div>
      </div>
    </div>
    <!--价格-->
    <div class="oc f-clearfix pull-left f-li f-pai">
      <h5 class="pull-left">排序</h5>
      <div class="f-select pull-left f-clearfix">
        <div class="pull-left left">
            <span class="f-all line active">默认</span>
        </div>
        <div class="pull-left right">
          <a href="#"><span class="line">价格从低到高</span></a>
          <a href="#"><span class="line">价格从高到低</span></a>
        </div>
      </div>
    </div>
    <!--特价-->
    <div class="oc f-clearfix pull-left f-li">
      <h5 class="pull-left">特价</h5>
      <div class="f-select pull-left f-clearfix">
        <div class="pull-left left">
          <a href="#" class="active">
            <span class="f-all line">全部</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--列表-->
  <div class="list f-clearfix">
    <div class="part pull-content">
      <ul>
        <li *ngFor="let item of good.goods">
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" [src]="item.goodsImage">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name"> {{ item.goodsName}} </div>
              <span class="f-unit">￥{{item.goodsPrice}}/斤</span>
              <div class="f-shopping" (click)="$confirm_add_goods()"></div>
            </div>
          </div>
        </li>
      <!--  <li>
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" src="../../../assets/specialOffer/fruit1.jpg">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name">荷兰青啤梨</div>
              <span class="f-unit">￥39.90/斤</span>
              <div class="f-shopping"></div>
            </div>

          </div>
        </li>
        <li>
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" src="../../../assets/specialOffer/fruit1.jpg">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name">荷兰青啤梨</div>
              <span class="f-unit">￥39.90/斤</span>
              <div class="f-shopping"></div>
            </div>

          </div>
        </li>
        <li>
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" src="../../../assets/specialOffer/fruit3.jpg">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name">荷兰青啤梨</div>
              <span class="f-unit">￥39.90/斤</span>
              <div class="f-shopping"></div>
            </div>

          </div>
        </li>
        <li>
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" src="../../../assets/specialOffer/fruit2.jpg">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name">荷兰青啤梨</div>
              <span class="f-unit">￥39.90/斤</span>
              <div class="f-shopping"></div>
            </div>

          </div>
        </li>
        <li>
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" src="../../../assets/specialOffer/fruit2.jpg">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name">荷兰青啤梨</div>
              <span class="f-unit">￥39.90/斤</span>
              <div class="f-shopping"></div>
            </div>

          </div>
        </li>
        <li>
          <div class="wrapper">
            <div class="img">
              <a href="#">
                <img class="lazy" src="../../../assets/specialOffer/fruit2.jpg">
              </a>
            </div>
            <div class="f-info">
              <div class="f-name">荷兰青啤梨</div>
              <span class="f-unit">￥39.90/斤</span>
              <div class="f-shopping"></div>
            </div>

          </div>
        </li>-->
      </ul>

    </div>

  </div>
  <ele-confirm [subTitle]="s_confirm_subTitle" cancelText="取消" sureText="确定"  [(show)] = "s_confirm_addflag" [content]="s_confirm_content" ></ele-confirm>
</div>
