<login-head></login-head>
<div class="new-password-big">
  <div class="new-password-small">
    <div class="new-password-small-one">
      <label class="new-password-small-one-lab">设置新密码</label>
    </div>
    <div class="new-password-small-two">
      <label class="new-password-small-two-lab">请输入新密码：</label>
      <input class="new-password-small-two-inp" type="password">
    </div>
    <div class="new-password-small-three">
      <label class="new-password-small-three-lab">请再次输入新密码：</label>
      <input class="new-password-small-three-inp" type="password">
    </div>
    <div class="new-password-small-four">
      <button class="new-password-small-four-but">提交</button>
    </div>
  </div>
</div>
