.fruit-login-head{
  width: 100%;
  height: 110px;
  /*
  background: url(//misc.360buyimg.com/user/reg/1.0.0/css/i/headbg.jpg) repeat-x left bottom;
  */
  box-shadow: 0 2px 8px rgba(230,230,230,0.75);
  border-bottom: 1px solid #f1f1f1;
}
.fruit-logo{
  margin-left: 10px;
  margin-top: 12px;
}
.fruit-login-welcome{
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-left:350px;
  margin-top: -67px;
}
