<login-head></login-head>
<div style="height: 265px;">
  <div style="width: 900px;height: 210px;margin: 55px auto;box-shadow: 0 4px 4px #cbc7c4;border: solid 1px #e4e0dc;">
    <div style="border-bottom: 1px solid #ECECEC;border-top:1px solid white;height: 50px;width: 900px;">
     <label style="display: block;font-size: 18px;color: #666;margin-top: 10px;">找回密码</label>
    </div>
      <div style="height: 50px;width: 900px;text-align: center;">
            <label style=" color: #666;font-size: 16px;margin-top: 13px;width: 150px;text-align: right;">请输入手机号：</label>
            <input style="width: 270px;margin-left: 18px;">
      </div>
    <div style="height: 50px;width: 900px;">
      <label style="color: #666;font-size: 16px;margin-top: 13px;width: 150px;text-align: right;margin-left: 230px;">请填写手机验证码：</label>
      <input style="width: 270px;margin-left: 18px;">
      <button style="margin-left: 20px;color: #666;border: 1px solid #999;">发送验证码</button>
    </div>
    <div style="height: 60px;width: 900px;text-align: center">
      <button style="width: 80px;height: 36px;border: 0;font-size: 18px;margin-top: 5px;background-color: #64A131;border-radius: 4px;color: #ffffff;">提交</button>
    </div>
  </div>
</div>
