<login-head></login-head>
<div class="lose-password-big">
  <div class="lose-password-small">
    <div class="lose-password-one">
     <label class="lose-password-one-lab">找回密码</label>
    </div>
      <div class="lose-password-two">
            <label class="lose-password-two-lab">请输入手机号：</label>
            <input class="lose-password-two-inp">
      </div>
    <div class="lose-password-three">
      <label class="lose-password-three-lab">请填写手机验证码：</label>
      <input class="lose-password-three-inp">
      <button class="lose-password-three-btn">发送验证码</button>
    </div>
    <div class="lose-password-four">
      <button class="lose-password-four-but">提交</button>
    </div>
  </div>
</div>
