<div class="fruit-login-bottom">
  <div class="fruit-login-bottom-small">
    <div class="fruit-login-bottom-small-new">
      <div class="fruit-login-bottom-one">
        <img class="fruit-login-bottom-one-we"  src="../../../assets/img/fruit-wechat.jpg">
        <label class="fruit-login-bottom-one-lab">我的果园官方微信</label>
      </div>
      <div class="fruit-login-bottom-two">
        <div class="fruit-login-bottom-two-first">
          <span class="fruit-login-bottom-two-first-span">购物指南</span>
          <span class="fruit-login-bottom-two-first-span-two">新用户注册</span>
          <span class="fruit-login-bottom-two-first-span-three">在线下单</span>
          <span class="fruit-login-bottom-two-first-span-three">支付方式</span>
        </div>
        <div class="fruit-login-bottom-two-first">
          <span class="fruit-login-bottom-two-first-span">配送说明</span>
          <span class="fruit-login-bottom-two-first-span-two">运费说明</span>
          <span class="fruit-login-bottom-two-first-span-three">运送方式</span>
          <span class="fruit-login-bottom-two-first-span-three">发票说明</span>
        </div>
        <div class="fruit-login-bottom-two-first">
          <span class="fruit-login-bottom-two-first-span">售后服务</span>
          <span class="fruit-login-bottom-two-first-span-two">退换货规则</span>
          <span class="fruit-login-bottom-two-first-span-three">服务保障承诺</span>
          <span class="fruit-login-bottom-two-first-span-three">验货与签收</span>
        </div>
        <div class="fruit-login-bottom-two-first">
          <span class="fruit-login-bottom-two-first-span">企业服务</span>
          <span class="fruit-login-bottom-two-first-span-two">企业订购</span>
          <span class="fruit-login-bottom-two-first-span-three">公司简介</span>
          <span class="fruit-login-bottom-two-first-span-three">定制专区</span>
        </div>
        <div class="fruit-login-bottom-two-first">
          <span class="fruit-login-bottom-two-first-span">关于我们</span>
          <span class="fruit-login-bottom-two-first-span-two">我们是谁</span>
          <span class="fruit-login-bottom-two-first-span-three">联系我们</span>
          <span class="fruit-login-bottom-two-first-span-three">加入我们</span>
        </div>
      </div>
      <div class="fruit-login-bottom-one">
        <img class="fruit-login-bottom-one-we" src="../../../assets/img/fruit-app.jpg">
        <label class="fruit-login-bottom-one-lab">我的果园APP</label>
      </div>
    </div>
    <div class="fruit-login-bottom-four">
      <div class="fruit-login-bottom-four-small">
      <span class="fruit-login-bottom-four-span">所有图片均受著作权保护，未经许可任何单位与个人不得使用、复制、转载、摘编，违者必究法律责任。</span>
      <span class="fruit-login-bottom-four-span">CopyRight 2010-2017, 果酷网 版权所有 蜀ICP备10033495号</span>
      </div>
    </div>
  </div>
</div>
