<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>海鲜大餐</title>
</head>
<body>
<!--广告界面-->
  <div class="l-ad-outWrapper">
    <div class="l-ad-inWrapper">
      <!--头部-->
      <div class="l-ad-header">
        <img src="../../../assets/fruit/banner04.jpg">
      </div>
      <!--中间内容-->
      <div class="l-ad-inContainer">
        <!--商品图片-->
        <div class="l-one-inContainer">
          <div class="l-inContainer">
            <div class="l-inContainer-title">
               <i class="l-in-icon"></i>
               <span>一见倾心的喜欢</span>
               <i class="l-in-icon"></i>
            </div>
            <div class="l-inContainer-content">
              <div class="l-inContainer-detail">
                <div class="l-inContainer-ms">
                  <div class="ms1">新西兰有机绿奇异果</div>
                  <div class="ms2">能量巨果  一口爆浆过瘾</div>
                  <div class="ms3">￥
                    <span>39.9</span>/6 个
                  </div>
                </div>
                <div class="l-inContainer-btn">
                  <a>立即购买</a>
                </div>
              </div>
              <div class="l-inContainer-img">
                <a>
                  <img src="https://imgjd4.fruitday.com/images/product_pic/2694/1/1-370x370-2694-9WA67UR7.jpg" width="600px" height="400px">
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--食谱推荐-->
        <div class="l-two-inContainer">
          <div class="l-inContainer">
            <div class="l-inContainer-title">
              <i class="l-in-icon"></i>
              <span>美味生活</span>
              <i class="l-in-icon"></i>
            </div>
            <div class="l-inContainer-content">
              <div class="l-inContainer-img" style="border-right: 1px solid #999;">
                <div class="l-inContainer-ms" style="background: rgb(225,202,184);">
                  <div class="ms1" style="color: #fff;">营养生活，触手可及</div>
                  <hr style="text-align: center;width: 20px;border:1px solid #fff;">
                  <div class="ms2" style="color: #fff;">
                    猕猴桃果肉酸奶
                  </div>
                </div>
                <div class="l-inContainer-ms">
                  <div class="ms1">配料</div>
                  <div class="ms2">
                    奇异果，蜂蜜，酸奶
                  </div>
                </div>
              </div>
              <div class="l-inContainer-detail">
                <div class="l-inContainer-ms">
                  <div class="ms1">制作方法</div>
                  <div class="ms2">
                    1.猕猴桃去掉皮后切丁放入容器中<br/>
                    2.加入多量的酸奶，倒入适量蜂蜜<br/>
                    3.搅拌均匀即可
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--如何延长保质期？-->
        <div class="l-three-inContainer">
          <div class="l-inContainer">
            <div class="l-inContainer-title">
              <i class="l-in-icon"></i>
              <span>如何延长保质期？</span>
              <i class="l-in-icon"></i>
            </div>
            <div class="l-inContainer-content">
              <div class="l-inContainer-img">
                <div class="l-inContainer-ms">
                  <img src="http://img4.duitang.com/uploads/item/201407/24/20140724203933_Rx4dz.jpeg" style="width: 200px;border-radius: 50%;">
                </div>
                <div class="l-inContainer-ms">
                  <div class="ms1">熟软后</div>
                  <div class="ms2">
                    冷冻约5-7天
                  </div>
                </div>
              </div>
              <div class="l-inContainer-detail">
                <div class="l-inContainer-ms">
                  <img src="http://cdnimg.ocj.com.cn/item_images/item/15/07/0054/15070054L.jpg" style="width: 200px;border-radius: 50%;">
                </div>
                <div class="l-inContainer-ms">
                  <div class="ms1">稍硬时</div>
                  <div class="ms2">
                    常温保存约7-10天
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--购物车-->
  <div class="l-shopCart-on">
    <a class="on-shop-cart"></a>
  </div>
  <!--返回顶部按钮-->
  <div class="l-go-back"></div>
</body>
</html>
